{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}
{% block javascript %}
<script src="https://www.jsdelivr.com/package/npm/pdfjs-dist"></script>
{% endblock %}
{% block main %}
<div class="ec-role">
    <div class="ec-pageHeader ec-text-ac">
        <h1>{{ 'front.agreement.title'|trans }}</h1>
    </div>
    <div class="ec-off1Grid">
        <div class="ec-off1Grid__cell">
<div class=WordSection1>

<p class=MsoNormal align=center style='text-align:center'><b><span lang=EN-US
style='font-size:14.0pt;font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>EC</span></b><b><span style='font-size:14.0pt;font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>サイト利用規約</span></b></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-family:"ＭＳ 明朝",serif;color:#222222'>&nbsp;</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.5pt;text-align:left;
text-indent:-42.5pt'><b><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222'>第 1 条<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>（目的）</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>こ</span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>の利用規約（以下「本規約」といいます。）は、株式会社<span lang=EN-US>YAY</span>（以下「弊社」といいます。）が運営する「わいわい広場」（以下「本サービス」といいます。）を利用するユーザー（以下「ユーザー」といいます。）に適用されます。ユーザーは、本規約に同意の上、本サービスを利用するものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>本規約は、本サービスの利用条件を定めています。本サービスにユーザー登録したユーザーは全て本規約に従い、年齢や利用環境等の条件に応じて、本規約の定める条件に従って本サービスを利用できるものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>ユーザーが本規約に同意することにより弊社との間に本契約（第<span lang=EN-US>2</span>条で定義します。）が成立します。</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-family:"ＭＳ 明朝",serif;color:#222222;background:white'>&nbsp;</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.4pt;text-align:left;
text-indent:-42.4pt'><b><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>第 2 条<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-family:"ＭＳ 明朝",serif;color:#222222;
background:white'>（定義）</span></p>

<p class=MsoNormal align=left style='margin-left:11.8pt;text-align:left;
text-indent:-1.7pt'><span style='font-family:"ＭＳ 明朝",serif;color:#222222;
background:white'>本規約において使用する以下の用語は、以下の各号に定める意味を有するものとします。なお、本条の定義は、別途定義されている場合及び文脈上別異に解すべき場合を除き、本規約のほか、別途定めるプライバシーポリシー（以下「プライバシーポリシー」という。）においても、適用されるものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:30.8pt;text-align:left;
text-indent:-16.8pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(1)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>「本契約」：本規約を契約条件として弊社及びユーザーとの間で締結される、本サービスの利用契約を指します。</span></p>

<p class=MsoListParagraph align=left style='margin-left:30.8pt;text-align:left;
text-indent:-16.8pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(2)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>「</span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222;background:white'>ユーザー</span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222;background:white'>」：本規約の内容に同意して、日本国内において本サービスを利用する日本在住の個人及び弊社が指定した法人を指します。</span></p>

<p class=MsoListParagraph align=left style='margin-left:30.8pt;text-align:left;
text-indent:-16.8pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(3)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>「出品」：ユーザーが、本サービスにて、商品の取引に必要なコンテンツを掲載・発信し、他のユーザーが閲覧可能かつユーザーが商品を取引できる状態にすることをいいます。</span></p>

<p class=MsoListParagraph align=left style='margin-left:30.8pt;text-align:left;
text-indent:-16.8pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(4)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>「出品者」：</span><span style='font-family:"ＭＳ 明朝",serif;color:#333333;
background:white'>本サービスを通じて商品を出品するユーザーをいいます。</span></p>

<p class=MsoListParagraph align=left style='margin-left:30.8pt;text-align:left;
text-indent:-16.8pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(5)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>「購入者」：本サービスにて商品を購入するユーザーをいいます。</span></p>

<p class=MsoListParagraph align=left style='margin-left:30.8pt;text-align:left;
text-indent:-16.8pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(6)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>「商品」：本サービスを利用して購入する商品を指します。</span><span style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'> </span></p>

<p class=MsoListParagraph align=left style='margin-left:30.8pt;text-align:left;
text-indent:-16.8pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(7)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>「商品代金」：本サービスにおいて商品が購入された場合の、出品者と購入者との間の売買契約における当該商品の売買価格をいいます。</span></p>

<p class=MsoListParagraph align=left style='margin-left:30.8pt;text-align:left;
text-indent:-16.6pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(8)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>「個人情報」：</span><span style='font-family:"ＭＳ 明朝",serif'>個人情報の保護に関する法律（平成<span
lang=EN-US>15</span>年法律第<span lang=EN-US>57</span>号、以下「個人情報保護法」といいます。）<span
lang=EN-US>2</span>条<span lang=EN-US>1</span>項に定める個人情報をいいますが、特に弊社において以下は個人情報として扱います。</span></p>

<p class=MsoNormal style='margin-left:70.85pt;text-indent:-21.3pt'><span
style='font-family:"ＭＳ 明朝",serif'>ア　氏名（ニックネームも含む）、生年月日、性別、ご職業等プロフィールに関する情報</span></p>

<p class=MsoNormal style='margin-left:70.85pt;text-indent:-21.3pt'><span
style='font-family:"ＭＳ 明朝",serif'>イ　メールアドレス、電話番号、ご住所等連絡先に関する情報</span></p>

<p class=MsoNormal style='margin-left:70.85pt;text-indent:-21.3pt'><span
style='font-family:"ＭＳ 明朝",serif'>ウ　クレジットカード情報、銀行口座情報、電子マネー情報等決済手段に関する情報</span></p>

<p class=MsoNormal style='margin-left:70.85pt;text-indent:-21.3pt'><span
style='font-family:"ＭＳ 明朝",serif'>エ　ユーザーの肖像を含む静止画情報</span></p>

<p class=MsoNormal style='margin-left:70.85pt;text-indent:-21.3pt'><span
style='font-family:"ＭＳ 明朝",serif'>オ　入力フォームその他弊社が定める方法を通じてユーザーが入力又は送信する情報</span></p>

<p class=MsoListParagraph align=left style='margin-left:30.8pt;text-align:left;
text-indent:-16.8pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(9)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>「ユーザー情報」：本サービスに登録した</span><span style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>ユーザー</span><span style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>の<span lang=EN-US>ID</span>及びパスワードを指します。</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-family:"ＭＳ 明朝",serif;color:#222222;background:white'>&nbsp;</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.5pt;text-align:left;
text-indent:-42.5pt'><b><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222'>第 3 条<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-family:"ＭＳ 明朝",serif;color:#222222;
background:white'>（本サービスの内容）</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left'><span
style='font-family:"ＭＳ 明朝",serif;color:#222222;background:white'>本サービスは、</span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>ユーザー間の物品の売買の場・機会を提供するもので、ユーザー間の売買契約、出品、購入等の保証等に関しては、すべて当事者であるユーザー間の自己責任とし、弊社は自ら売買を行うものではなく、売買の委託を受けるものでもありません。弊社は、本規約中に別段の定めがある場合を除き、売買契約の取消し、解約、解除、返品、返金、保証など取引の遂行には一切関与しません。また、本サービスは、競りの方法（オークション）により物品の売買を行おうとする者のあっせんを行うものではありません。</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-family:"ＭＳ 明朝",serif;color:#222222'>&nbsp;</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.5pt;text-align:left;
text-indent:-42.5pt'><b><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222'>第 4 条<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-family:"ＭＳ 明朝",serif;color:#222222;
background:white'>（本規約の変更）</span></p>

<p class=MsoListParagraph style='margin-left:21.0pt;text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif'>1.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span lang=ja
style='font-family:"ＭＳ 明朝",serif'>弊社は、以下の各号のいずれかに該当する場合は、民法第</span><span
lang=EN-US style='font-family:"ＭＳ 明朝",serif'>548</span><span style='font-family:
"ＭＳ 明朝",serif'>条の<span lang=EN-US>4</span>の規定に基づき</span><span lang=ja
style='font-family:"ＭＳ 明朝",serif'>本規約を随時変更できるものとします。本規約が変更された後の本契約は、変更後の本規約が適用されるものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:35.45pt;text-align:
left;text-indent:-21.0pt'><span lang=EN-US style='font-family:"Times New Roman",serif'>(1)<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
lang=ja style='font-family:"ＭＳ 明朝",serif'>本規約の変更が、ユーザーの一般の利益に適合するとき</span></p>

<p class=MsoListParagraph style='margin-left:35.45pt;text-indent:-21.0pt'><span
lang=EN-US style='font-family:"Times New Roman",serif'>(2)<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
lang=ja style='font-family:"ＭＳ 明朝",serif'>本規約の変更が、契約をした目的に反せず、かつ、変更の必要性、変更後の内容の相当性及びその内容その他の変更に係る事情に照らして合理的なものであるとき</span></p>

<p class=MsoListParagraph style='margin-left:21.0pt;text-indent:-21.0pt'><span
lang=EN-US style='font-family:"ＭＳ 明朝",serif'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span lang=ja style='font-family:"ＭＳ 明朝",serif'>弊社は、本規約の変更を行う場合は、変更後の本規約の効力発生時期を定め、効力発生時期の</span><span
lang=EN-US style='font-family:"ＭＳ 明朝",serif'>2</span><span lang=ja
style='font-family:"ＭＳ 明朝",serif'>週間前までに、変更後の本規約の内容及び効力発生時期をユーザーに通知、本サービス上への表示その他弊社所定の方法によりユーザーに周知するものとします。</span></p>

<p class=MsoListParagraph style='margin-left:21.0pt;text-indent:-21.0pt'><span
lang=EN-US style='font-family:"ＭＳ 明朝",serif'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span lang=ja style='font-family:"ＭＳ 明朝",serif'>前二項の規定にかかわらず、前項の本規約の変更の周知後にユーザーが本サービスを利用した場合又は弊社所定の期間内にユーザーが解約の手続を取らなかった場合、当該ユーザーは本規約の変更に同意したものとします。</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-family:"ＭＳ 明朝",serif;color:#222222;background:white'>&nbsp;</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.5pt;text-align:left;
text-indent:-42.5pt'><b><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>第 5 条<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-family:"ＭＳ 明朝",serif;color:#222222;
background:white'>（ユーザー登録）</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>本サービスのユーザー<span
style='background:white'>になろうとする方は、本規約の内容に同意の上、必ず本人が正確な情報を入力して登録手続を行ってください。</span></span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>ユーザーは、前項に基づき登録した情報に変更が発生した場合、直ちに、登録情報の変更手続を行う義務を負うものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>ユーザーは、本サービス上のアカウントを複数登録することができません。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>ユーザーは、第三者に対して利用、貸与、譲渡、売買又は質入等をすることはできないものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>弊社は、ユーザー登録をされようとする方が以下各号のいずれに該当する場合、ユーザー登録を拒否することがあります。</span></p>

<p class=MsoListParagraph align=left style='margin-left:35.45pt;text-align:
left;text-indent:-21.0pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(1)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>本条<span lang=EN-US>3</span>項及び本条４項に違反する場合</span></p>

<p class=MsoListParagraph align=left style='margin-left:35.45pt;text-align:
left;text-indent:-21.0pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(2)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>ユーザーが未成年者であり、かつ事前に親権者など法定代理人の包括的な同意を得ていない場合</span></p>

<p class=MsoListParagraph align=left style='margin-left:35.45pt;text-align:
left;text-indent:-21.0pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(3)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>過去に本規約違反等により、弊社から利用停止等の処分を受けている場合</span></p>

<p class=MsoListParagraph align=left style='margin-left:35.45pt;text-align:
left;text-indent:-21.0pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(4)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>登録内容に正確ではない情報又は虚偽の情報が含まれている場合</span></p>

<p class=MsoListParagraph align=left style='margin-left:35.45pt;text-align:
left;text-indent:-21.0pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(5)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>弊社の運営、サービス提供若しくは他のユーザーの利用を妨害する又はそれらに支障をきたす行為を行った場合やそのおそれがあると弊社が合理的な理由に基づき判断した場合</span></p>

<p class=MsoListParagraph align=left style='margin-left:35.45pt;text-align:
left;text-indent:-21.0pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(6)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>暴力団、暴力団員、暴力団員でなくなったときから<span
lang=EN-US> 5 </span>年を経過しない者、暴力団準構成員、暴力団関係企業、総会屋等、社会運動等標ぼうゴロ若しくは特殊知能暴力集団、その他これらに準ずる者（以下これらを「暴力団員等」といいます。）、テロリスト等日本政府若しくは外国政府が経済制裁の対象として指定する者に該当すること、又は暴力団員等と一定の関係を有すること（暴力団員等に対して資金を提供し若しくは便宜を供与するなどの関与をしていると認められること、暴力団員等を不当に利用していると認められること、又は、ユーザー登録をされようとする方が法人の場合、暴力団員等がその経営を支配し若しくはその法人の経営に実質的に関与していると認められること、その他暴力団員等と社会的に非難されるべき関係を有していると認められること）（以下、上記のすべてを総称して「反社会的勢力」といいます。）が判明した場合</span></p>

<p class=MsoListParagraph align=left style='margin-left:35.45pt;text-align:
left;text-indent:-21.0pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(7)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>その他弊社が不適当であると合理的な理由に基づき判断する場合</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>ユーザーは、ユーザー情報を自ら管理する責任を負います。ユーザーは、ユーザーは情報を第三者に利用させることや、譲渡、売買、質入、貸与、賃貸その他形態を問わず処分することはできません。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>7.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>ユーザー情報の管理不十分による情報の漏洩、使用上の過誤、第三者の使用、不正アクセス等による損害の責任はユーザーが負うものとし、弊社の故意又は過失に起因する場合を除き、弊社は責任を負わないものとします。また、ユーザー情報が不正に利用されたことにより弊社に損害が生じた場合、ユーザーは当該損害を賠償するものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>8.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>ユーザーは、ユーザー情報が第三者に漏えいした場合又はそのおそれがある場合、速やかに弊社まで連絡するものとします。また、その際に弊社の指示がある場合にはこれに従うものとします。</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-family:"ＭＳ 明朝",serif;color:#222222;background:white'>&nbsp;</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.55pt;text-align:
left;text-indent:-42.25pt'><b><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>第 6 条<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-family:"ＭＳ 明朝",serif;color:#222222;
background:white'>（ユーザーの退会）</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.3pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>ユーザーは、弊社に退会を希望する旨を申し出ることができ、弊社の判断により認められた場合には退会することができます。ただし、取引の決済や商品の郵送等の取引の手続が未完のものがある場合は退会することができず、ユーザーは、一連の未完の取引を本規約に従って遅滞なく円滑に進め、完了させた後、弊社に退会の申し出を行わなければなりません。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.3pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>弊社は、前項の措置により生じる損害について、弊社の故意又は過失に起因する場合を除き、責任を負わないものとします。</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-family:"ＭＳ 明朝",serif;color:#222222;background:white'>&nbsp;</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.5pt;text-align:left;
text-indent:-42.5pt'><b><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222'>第 7 条<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>（商品の出品）</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#333333;background:white'>出品者は、弊社所定の手続に従い商品の出品を行うものとします。出品者は、本規約に加え、弊社が定める「出品者向け利用規約」（以下「出品者規約」といいます。）の定めに従って本サービスを利用するものとします。
弊社は、特定の出品方法について基準を設け、審査を行い、出品者が基準に合致しない場合には、当該出品方法の利用を制限することができます。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>出品者は出品者規約に記載された禁止されている出品物（以下「出品禁止物」といいます。）を出品できないことについて、予め了承します。出品禁止物に該当する商品を出品した場合は、出品者の故意又は過失に関わらず、本規約違反行為とみなします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#333333;background:white'>出品者は、商品を出品する際に、真に売却する意思のない出品、その商品情報だけでは正しく商品を理解できない又は混乱する可能性のある出品、商品説明で十分な説明を行わない出品等を行ってはなりません。また、出品者は、出品する商品と関係のない画像等を当該出品情報として掲載してはいけません。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#333333;background:white'>出品者は、出品にあたっては、食品衛生法、食品表示法、古物営業法、特定商取引に関する法律、不当景品類及び不当表示防止法、不正競争防止法、商標法、著作権法その他の法令並びに出品者規約を遵守しなければなりません。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#333333;background:white'>出品に関して、弊社が本規約又は出品者規約に違反する又は不適切であると合理的な理由に基づき判断した場合、弊社は、第２０条に定める措置のほか、その出品やその出品に対して発生していた購入行為等を弊社の判断で取消すことができるものとします。本項に基づく措置によって出品者に生じる損害について、弊社の故意又は過失に起因する場合を除き、弊社は責任を負わないものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#333333;background:white'>出品者の出品等によって、ユーザー及び第三者に生じる損害につき、弊社の故意又は過失に起因する場合を除き、弊社は責任を負わないものとします。</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-family:"ＭＳ 明朝",serif;color:#222222'>&nbsp;</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.5pt;text-align:left;
text-indent:-42.5pt'><b><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222'>第 8 条<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>（商品の購入）</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left'><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>ユーザーが商品の購入を希望する場合、弊社が定める方法に従って注文するものとし、購入者が出品された特定の商品の購入完了手続をした時をもって出品者と購入者との間において当該商品の売買契約が成立するものとします。出品者及び購入者は、売買契約に基づき発生した権利義務を第三者に譲渡、担保提供その他の処分することはできないものとします。</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-family:"ＭＳ 明朝",serif;color:#222222'>&nbsp;</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.5pt;text-align:left;
text-indent:-42.5pt'><b><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222'>第 9 条<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>（代金の支払い）</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>購入者は、前条の売買契約の成立後、弊社が定める方法に従って商品の代金を支払うものとします。なお、支払に係る手数料は購入者の負担とします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#333333;background:white'>商品の送料は、出品者が負担する場合には、商品代金に含むものとし、購入者が負担する場合には、商品の発送を着払いで行うものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#333333;background:white'>●●●●</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-family:"ＭＳ 明朝",serif;color:#333333;background:white'>&nbsp;</span></p>

<p class=MsoListParagraph align=left style='margin-left:49.65pt;text-align:
left;text-indent:-49.35pt'><b><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#333333'>第 10 条<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-family:"ＭＳ 明朝",serif;color:#333333;
background:white'>（商品の発送）</span></p>

<p class=MsoNormal align=left style='margin-left:21.2pt;text-align:left'><span
style='font-family:"ＭＳ 明朝",serif;color:#333333;background:white'>出品者は、購入者の商品代金の決済が完了した後に商品の発送をするものとします</span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>。なお、出品者が商品の配送手続を完了した後、購入者の受取拒否、長期不在その他購入者の事情により商品が返送された場合等出品者及び購入者の間で商品等に関してトラブルが発生した場合は当該ユーザー間で解決するものとします。</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-family:"ＭＳ 明朝",serif;color:#222222'>&nbsp;</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.5pt;text-align:left;
text-indent:-42.5pt'><b><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222'>第 11 条<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>（商品等に関するトラブル）</span></p>

<p class=MsoNormal align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>　　出品者及び購入者の間で商品等に関してトラブルが発生した場合は当該ユーザー間で解決するものとします。但し、弊社の判断により、弊社も協議に入ることができるものとします。</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-family:"ＭＳ 明朝",serif;color:#222222'>&nbsp;</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.5pt;text-align:left;
text-indent:-42.5pt'><b><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222'>第 12 条<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>（商品の返品）</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left'><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>本サービスの利用にあたり、出品者及び購入者間の合意がある場合を除き、商品の注文後のキャンセルはできないものとします。商品に瑕疵がある場合、商品説明と実際の商品が明らかに異なる場合、梱包の不備により配送時に商品が破損したなどの場合は出品者が責任を負うものとし、出品者の責任及び費用により、商品の返品、修理、交換等の対応を行うものとします。</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-family:"ＭＳ 明朝",serif;color:#222222'>&nbsp;</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.55pt;text-align:
left;text-indent:-42.55pt'><b><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222'>第 13 条<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>（出品手数料）</span></p>

<p class=MsoNormal align=left style='margin-left:21.2pt;text-align:left'><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>出品者は、弊社に対し、出品した商品の売買契約が成立した場合、本サービスの販売手数料として、売買契約が成立した商品の販売価格に出品者規約で定める料率<span
style='background:white'>を乗じた金額を支払うものとします。</span></span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-family:"ＭＳ 明朝",serif;color:#222222;background:white'>&nbsp;</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.5pt;text-align:left;
text-indent:-42.5pt'><b><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>第 14 条<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-family:"ＭＳ 明朝",serif;color:#222222;
background:white'>（ご利用環境の整備・維持）</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>ユーザーは、自己の費用と責任において、本サービス利用のための環境を維持するものとします<span
style='background:white'>。</span></span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>ユーザーは、本サービスを利用するにあたり自己の責任と費用をもって、電気通信事業者等の電気通信サービスを利用して利用ユーザーの設備をインターネットに接続するものとします<span
style='background:white'>。</span></span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>ユーザーの設備、前項に定めるインターネット接続及び本サービス利用のための環境に不具合がある場合、弊社は利用ユーザーに対して本サービスの提供義務を負わないものとします<span
style='background:white'>。</span></span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-family:"ＭＳ 明朝",serif;color:#222222;background:white'>&nbsp;</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.5pt;text-align:left;
text-indent:-42.5pt'><b><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222'>第 15 条<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-family:"ＭＳ 明朝",serif;color:#222222;
background:white'>（個人情報の取り扱い）</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>弊社は、個人情報について、プライバシーポリシーに則り、適正に取り扱うこととします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>弊社は、本サービスに入力されたデータに個人情報が含まれていた場合、これを本サービス提供以外の目的で利用しないものとし、個人情報の保護に関する法律及びプライバシーポリシーに基づいて、紛失・破壊・改竄・漏洩等の危険から保護するための合理的な安全管理措置を講じ、厳重に管理するものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>弊社は、本サービスの提供のため必要がなくなった個人情報に関して、一切のコピーを残すことなく、弊社責任の下で速やかに破棄するものとします。</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-family:"ＭＳ 明朝",serif;color:#222222;background:white'>&nbsp;</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.5pt;text-align:left;
text-indent:-42.5pt'><a name="_heading=h.gjdgxs"></a><b><span lang=EN-US
style='font-family:"Times New Roman",serif;color:#222222;background:white'>第 16
条<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span></b><span
style='font-family:"ＭＳ 明朝",serif;color:#222222;background:white'>（禁止事項）</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>弊社は、ユーザーによる本サービスの利用に際して、以下の各号に定める行為を禁止します。</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.55pt;text-align:
left;text-indent:-21.3pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(1)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>本規約に違反する行為</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.55pt;text-align:
left;text-indent:-21.3pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(2)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>弊社、弊社がライセンスを受けているライセンサーその他第三者の知的財産権、特許権、実用新案権、意匠権、商標権、著作権、肖像権等の財産的又は人格的な権利を侵害する行為又はこれらを侵害するおそれのある行為</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.55pt;text-align:
left;text-indent:-21.3pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(3)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>弊社又は第三者に不利益若しくは損害を与える行為又はそのおそれのある行為</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.55pt;text-align:
left;text-indent:-21.3pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(4)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>不当に他人の名誉や権利、信用を傷つける行為又はそのおそれのある行為</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.55pt;text-align:
left;text-indent:-21.3pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(5)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>法令又は条例等に違反する行為</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.55pt;text-align:
left;text-indent:-21.3pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(6)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>公序良俗に反する行為若しくはそのおそれのある行為又は公序良俗に反するおそれのある情報を他のユーザー又は第三者に提供する行為</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.55pt;text-align:
left;text-indent:-21.3pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(7)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>犯罪行為、犯罪行為に結びつく行為若しくはこれを助長する行為又はそのおそれのある行為</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.55pt;text-align:
left;text-indent:-21.3pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(8)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>事実に反する情報又は事実に反するおそれのある情報を提供する行為</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.55pt;text-align:
left;text-indent:-21.3pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(9)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>弊社のシステムへの不正アクセス、それに伴うプログラムコードの改ざん、位置情報を故意に虚偽、通信機器の仕様その他アプリケーションを利用してのチート行為、コンピューターウィルスの頒布その他本サービスの正常な運営を妨げる行為又はそのおそれのある行為</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.55pt;text-align:
left;text-indent:-21.3pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(10)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>マクロ及び操作を自動化する機能やツール等を使用すること</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.55pt;text-align:
left;text-indent:-21.3pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(11)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>本サービスの信用を損なう行為又はそのおそれのある行為</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.55pt;text-align:
left;text-indent:-21.3pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(12)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>青少年の心身及びその健全な育成に悪影響を及ぼすおそれのある行為</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.55pt;text-align:
left;text-indent:-21.3pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(13)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>他のユーザーのアカウントの使用その他の方法により、第三者になりすまして本サービスを利用する行為</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.55pt;text-align:
left;text-indent:-21.3pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(14)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>詐欺、預貯金口座及び携帯電話の違法な売買等の犯罪に結びつく又は結びつくおそれのある行為</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.55pt;text-align:
left;text-indent:-21.3pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(15)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>犯罪収益に関する行為、テロ資金供与に関する行為又はその疑いがある行為</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.55pt;text-align:
left;text-indent:-21.3pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(16)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>その他弊社が不適当と判断する行為</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>前項の禁止行為に該当するか否かの判断は、弊社の裁量により行うものとし、弊社は判断基準について説明責任を負わないものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>弊社は、ユーザーの行為が、第１項各号のいずれかに該当すると判断した場合、事前に通知することなく、以下の各号のいずれか又は全ての措置を講じることができるものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(1)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>本サービスの利用制限</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(2)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>本契約の解除による退会処分</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>(3)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>その他弊社が必要と判断する行為</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>前項の措置によりユーザーに生じた損害について、弊社は一切の責任を負わないものとします。</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-family:"ＭＳ 明朝",serif;color:#222222;background:white'>&nbsp;</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.5pt;text-align:left;
text-indent:-42.5pt'><b><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>第 17 条<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-family:"ＭＳ 明朝",serif;color:#222222;
background:white'>（損害賠償責任）</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222;background:white'>ユーザーは、本規約の違反又は本サービスの利用に関連して弊社に損害を与えた場合、弊社に発生した損害（逸失利益及び弁護士費用を含みます。）を賠償するものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#333333;background:white'>弊社は、弊社による本サービスの提供の停止、終了又は変更、ユーザー登録の取消、コンテンツの削除又は消失､本サービスの利用によるデータの消失又は機器の故障その他本サービスに関連してユーザーが被った損害につき、弊社の故意又は過失に起因する場合を除き、賠償する責任を負わないものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#333333;background:white'>弊社がユーザーに対して損害賠償責任を負う場合においても、弊社の責任は、弊社の債務不履行又は不法行為によりユーザーに生じた損害のうち現実に発生した直接かつ通常の損害に限るものとします。但し、弊社の故意又は重過失に起因する場合を除きます。</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-family:"ＭＳ 明朝",serif;color:#222222;background:white'>&nbsp;</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.5pt;text-align:left;
text-indent:-42.5pt'><b><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>第 18 条<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-family:"ＭＳ 明朝",serif;color:#222222;
background:white'>（機密保持）</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>ユーザー及び弊社は、本サービスの利用に関し、相手方から開示された機密情報を第三者に開示又は漏洩してはなりません。なお、機密情報とは、文書、電磁的データ、口頭その他形式の如何を問わず、又は秘密の表示若しくは明示又はその範囲の特定の有無にかかわらず、本サービス導入に関して開示された相手方の技術上、営業上又は経営上の情報をいいます。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>次の各号の情報は、機密情報に該当しないものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>(1)<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>開示を受けた時、既に所有していた情報</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>(2)<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>開示を受けた時、既に公知であった情報又はその後自己の責に帰さない事由により公知となった情報</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>(3)<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>開示を受けた後に、第三者から合法的に取得した情報</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>(4)<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>開示された機密情報によらず独自に開発し又は創作した情報</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>(5)<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>法令の定め又は裁判所の命令に基づき開示を要請された情報</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>ユーザー及び弊社は、機密情報を本サービスの提供・改善のため必要のある役職員（雇用契約、委任契約又は業務委託契約等の契約形態を問わず自己の業務に従事する者をいいます。）、共同研究者、業務委託先、外部アドバイザー等であって機密保持義務を負う者にのみ開示できるものとし、かつ開示目的以外の目的には使用しないものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>ユーザー及び弊社は、本サービスの終了、本契約の解約その他の事由により本契約が終了した場合、相手方の指示に従い機密情報を速やかに返還又は廃棄します。なお、廃棄にあたっては、機密情報を再利用できない方法をとるものとします。</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-family:"ＭＳ 明朝",serif;color:#222222;background:white'>&nbsp;</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.5pt;text-align:left;
text-indent:-42.5pt'><b><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>第 19 条<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-family:"ＭＳ 明朝",serif;color:#222222;
background:white'>（知的財産権等）</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>ユーザーは、方法又は形態の如何を問わず、本サービスを構成する全ての素材及びコンテンツ（以下総称して「弊社コンテンツ」といいます。）を著作権法に定める、私的使用の範囲を超えて複製したり、利用したりすることはできないものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>弊社コンテンツに関する著作権、特許権、実用新案権、商標権、意匠権その他一切の知的財産権及びこれらの権利の登録を受ける権利（以下総称して「知的財産権」といいます。）は、弊社又は弊社がライセンスを受けているライセンサーに帰属し、ユーザーには帰属しないものとします。また、ユーザーは、知的財産権の存否にかかわらず、弊社コンテンツについて、複製、配布、転載、転送、公衆送信、改変、翻案その他の二次利用等を行ってはならないものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>ユーザーが本条の規定に違反して問題が発生した場合、ユーザーは、自己の費用と責任において当該問題を解決するとともに、弊社に何らの不利益、負担又は損害を与えないよう適切な措置を講じなければならないものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>出品者が本サービス上において投稿された出品物の写真、動画、情報等に関しては、本サービスの宣伝、運営、研究開発及び発表等を目的として、</span><span
style='font-family:"ＭＳ 明朝",serif;color:#333333;background:white'>弊社及び弊社の指定する者が自由に利用できるものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>出品者は、著作物となりうる掲載内容の一部について、弊社並びに弊社より正当に権利を取得した第三者及び当該第三者から権利を承継した者に対し、著作者人格権（公表権、氏名表示権及び同一性保持権を含みます。）を行使しないものとします。</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-family:"ＭＳ 明朝",serif;color:#222222;background:white'>&nbsp;</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.5pt;text-align:left;
text-indent:-42.5pt'><b><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>第 20 条<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-family:"ＭＳ 明朝",serif;color:#222222;
background:white'>（解除）</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>弊社は、ユーザーが以下の各号のいずれかに該当した場合、何らの通知等を要することなく、本契約を解除し、退会させることができるものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.55pt;text-align:
left;text-indent:-21.0pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222'>(1)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>法令又は本規約に違反した場合</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.55pt;text-align:
left;text-indent:-21.0pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222'>(2)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>不正行為があった場合</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.55pt;text-align:
left;text-indent:-21.0pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222'>(3)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>登録情報に虚偽の情報が含まれていると弊社が判断した場合</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.55pt;text-align:
left;text-indent:-21.0pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222'>(4)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>本規約上必要となる手続又は弊社への連絡を行わなかった場合</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.55pt;text-align:
left;text-indent:-21.0pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222'>(5)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>過去に弊社から退会処分を受けていた場合</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.55pt;text-align:
left;text-indent:-21.0pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222'>(6)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>ユーザーの相続人等からユーザーが死亡した旨の連絡があった場合又は弊社がユーザーの死亡の事実を確認できた場合</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.55pt;text-align:
left;text-indent:-21.0pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222'>(7)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>未成年が法定代理人の同意なく、本サービスを利用した場合</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.55pt;text-align:
left;text-indent:-21.0pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222'>(8)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>成年被後見人、被保佐人又は被補助人が、成年後見人、保佐人又は補助人等の同意なく、本サービスを利用した場合</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.55pt;text-align:
left;text-indent:-21.0pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222'>(9)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>他のユーザーや第三者に不当に迷惑をかけた場合</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.55pt;text-align:
left;text-indent:-21.0pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222'>(10)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>弊社からの要請に対し誠実に対応しない場合</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.55pt;text-align:
left;text-indent:-21.0pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222'>(11)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>第<span lang=EN-US>5</span>条第<span
lang=EN-US>5</span>項各号のいずれかに該当する場合</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.55pt;text-align:
left;text-indent:-21.0pt'><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222'>(12)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>その他弊社が不適当と判断した場合</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>前項各号に定める場合のほか、弊社は、ユーザーに対して<span
lang=EN-US>30</span>日前までに事前に通知することにより、本契約を解除し、退会させることができるものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>弊社は、前二項の措置によりユーザーに生じた損害について、弊社の故意又は過失に起因する場合を除き、責任を負わないものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>第<span lang=EN-US>1</span>項及び第<span
lang=EN-US>2</span>項の措置により退会したユーザーは、退会時に期限の利益を喪失し、直ちに、弊社に対し負担する全ての債務を履行するものとします。</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-family:"ＭＳ 明朝",serif;color:#222222;background:white'>&nbsp;</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.5pt;text-align:left;
text-indent:-42.5pt'><b><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>第 21 条<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-family:"ＭＳ 明朝",serif;color:#222222;
background:white'>（本サービスの変更・停止等）</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>弊社は、ユーザーに事前に通知することなく、本サービスの内容の全部又は一部を変更又は追加することができるものとします。ただし、当該変更又は追加によって、変更又は追加前の本サービスのすべての機能・性能が維持されることを保証するものではありません。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>弊社は、以下のいずれかに該当する場合には、本サービスの利用の全部又は一部を停止又は中断することができるものとします。この場合において、弊社はユーザーに対して、できる限り事前に通知するよう努めるものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>(1)<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>本サービスに係るコンピューター・システムの点検又は保守作業を定期的又は緊急に行う場合</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>(2)<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>コンピューター、通信回線等が事故により停止した場合</span></p>

<p class=MsoListParagraph style='margin-left:42.0pt;text-indent:-21.0pt'><span
lang=EN-US style='font-family:"ＭＳ 明朝",serif;color:#222222'>(3)<span
style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>火災、停電、疫病、天災地変等の不可抗力により本サービスの運営ができなくなった場合</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>(4)<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>その他、弊社が本サービスの停止又は中断を必要と合理的に判断した場合</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>弊社は、本条によりユーザーに生じた不利益、損害について責任を負いません。</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-family:"ＭＳ 明朝",serif;color:#222222;background:white'>&nbsp;</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.5pt;text-align:left;
text-indent:-42.5pt'><b><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>第 22 条<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-family:"ＭＳ 明朝",serif;color:#222222;
background:white'>（免責）</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>弊社は、生産者と購入者で締結される売買契約の当事者ではないことから、当該売買契約について債務不履行責任、契約不適合責任その他一切の責任を負わないものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>本サービスの内容について、その完全性、正確性及び有効性等について、弊社は一切の保証をしないものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>ユーザーが登録情報の変更を行わなかったことにより損害を被った場合でも、弊社は一切の責任を負わないものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>ユーザーは、法令の範囲内で本サービスをご利用ください。本サービスの利用に関連してユーザーが日本又は外国の法令に触れた場合でも、弊社は一切の責任を負わないものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>弊社は、本サービスに中断、中止その他の障害が生じないことを保証しません。また、弊社は、メンテナンス等のために、ユーザーに通知することなく、本サービスを停止又は変更することがありますが、この場合においても弊社は一切の責任を負わないものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>本サービスの提供を受けるために必要な機器、通信手段及び交通手段等の環境は全てユーザーの費用と責任で備えるものとします。また、本サービスの利用にあたり必要となる通信費用は、全てユーザーの負担とします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>7.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>予期しない不正アクセス等の行為によってユーザー情報を盗取された場合でも、それによって生じるユーザーの損害等に対して、弊社は一切の責任を負わないものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>8.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222;background:
white'>弊社は、</span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>天災、地変、火災、ストライキ、通商停止、戦争、内乱、感染症の流行その他の不可抗力により本契約の全部又は一部に不履行が発生した場合、一切の責任を負わないものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222;background:white'>本サービスの利用に関し、ユーザーが他のユーザーとの間でトラブル（本サービス内外を問いません。）になった場合でも、弊社は一切の責任を負わないものとし、これらのトラブルは、当該ユーザーが自らの費用と負担において解決するものとします。</span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>ただし、必要に応じて弊社の判断で弊社が紛争処理に介入することができるものとします。</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-family:"ＭＳ 明朝",serif;color:#222222;background:white'>&nbsp;</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.5pt;text-align:left;
text-indent:-42.5pt'><b><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>第 23 条<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-family:"ＭＳ 明朝",serif;color:#222222;
background:white'>（反社会的勢力の排除）</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>ユーザー及び弊社は、現在、暴力団、暴力団員、暴力団員でなくなった時から<span
lang=EN-US>5</span>年を経過しない者、暴力団準構成員、暴力団関係企業、総会屋等、社会運動等標ぼうゴロ又は特殊知能暴力集団等、その他これらに準ずる者（以下「暴力団員等」といいます。）に該当しないこと、及び次の各号のいずれにも該当しないことを表明し、かつ将来にわたっても該当しないことを保証します。</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>(1)<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>暴力団員等が経営を支配していると認められる関係を有すること</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>(2)<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>暴力団員等が経営に実質的に関与していると認められる関係を有すること</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>(3)<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>自己、自社若しくは第三者の不正の利益を図る目的又は第三者に損害を加える目的をもってする等、不当に暴力団員等を利用していると認められる関係を有すること</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>(4)<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>暴力団員等に対して資金等を提供し、又は便宜を供与する等の関与をしていると認められる関係を有すること</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>(5)<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>役員又は経営に実質的に関与している者が暴力団員等と社会的に非難されるべき関係を有すること</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>ユーザー及び弊社は、自ら又は第三者を利用して次の各号のいずれにも該当する行為を行わないことを確約します。</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>(1)<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>暴力的な要求行為</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>(2)<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>法的な責任を超えた不当な要求行為</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>(3)<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>取引に関して、脅迫的な言動をし、又は暴力を用いる行為</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>(4)<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>風説を流布し、偽計を用い又は威力を用いて相手方の信用を毀損し、又は相手方の業務を妨害する行為</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222'>(5)<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>その他前各号に準ずる行為</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>ユーザー又は弊社が、暴力団員等若しくは第<span
lang=EN-US>1</span>項各号のいずれかに該当し、若しくは前項各号のいずれかに該当する行為をし、又は第<span lang=EN-US>1</span>項の規定にもとづく表明・保証に関して虚偽の申告をしたことが判明した場合には、自己の責に帰すべき事由の有無を問わず、相手方に対して何らの催告をすることなく本契約を解除することができるものとします。</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>ユーザー及び弊社は、前項により本契約を解除した場合には、相手方に損害が生じたとしてもこれを一切賠償する責任はないことを確認し、これを了承します。</span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
background:white'>&nbsp;</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.5pt;text-align:left;
text-indent:-42.5pt'><b><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>第 24 条<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-family:"ＭＳ 明朝",serif;color:#222222;
background:white'>（連絡・通知）</span></p>

<p class=MsoNormal align=left style='margin-left:11.15pt;text-align:left'><span
style='font-family:"ＭＳ 明朝",serif;color:#222222;background:white'>本サービスに関する問い合わせその他ユーザーから弊社に対する連絡又は通知、及び本規約の変更に関する通知その他弊社からユーザーに対する連絡又は通知は、電子メールその他弊社の定める方法で行うものとします。通知は、弊社からの発信によってその効力が生ずるものとします。</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-family:"ＭＳ 明朝",serif;color:#222222;background:white'>&nbsp;</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.5pt;text-align:left;
text-indent:-42.5pt'><b><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>第 25 条<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-family:"ＭＳ 明朝",serif;color:#222222;
background:white'>（地位の譲渡等）</span></p>

<p class=MsoNormal align=left style='margin-left:11.15pt;text-align:left'><span
style='font-family:"ＭＳ 明朝",serif;color:#222222;background:white'>ユーザー及び弊社は、相手方の書面による事前の承諾なく、本契約上の地位又は本規約に基づく権利若しくは義務の全部又は一部につき、第三者に対し、譲渡、移転、担保設定、その他の処分をすることはできません。ただし、株式譲渡若しくは事業譲渡又は合併、会社分割その他の組織再編についてはこの限りではありません。</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-family:"ＭＳ 明朝",serif;color:#222222;background:white'>&nbsp;</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.5pt;text-align:left;
text-indent:-42.5pt'><b><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222;background:white'>第 26 条<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-family:"ＭＳ 明朝",serif;color:#222222;
background:white'>（分離可能性）</span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>本規約のいずれかの条項又はその一部が無効又は執行不能と判断された場合であっても、当該判断は他の部分に影響を及ぼさず、本規約の残りの部分は、引き続き有効かつ執行力を有するものとします。弊社及びユーザーは、当該無効若しくは執行不能とされた条項又は部分の趣旨に従い、これと同等の効果を確保できるように努めるとともに修正された本規約に拘束されることに同意するものとします<span
style='background:white'>。</span></span></p>

<p class=MsoListParagraph align=left style='margin-left:21.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-family:"ＭＳ 明朝",serif;
color:#222222;background:white'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><span style='font-family:"ＭＳ 明朝",serif;color:#222222'>本規約のいずれかの条項又はその一部が、あるユーザーとの関係で無効又は執行不能と判断された場合であっても、他のユーザーとの関係における有効性等には影響を及ぼさないものとします<span
style='background:white'>。</span></span></p>

<p class=MsoNormal><a name="_heading=h.30j0zll"></a><span lang=EN-US
style='font-family:"ＭＳ 明朝",serif'>&nbsp;</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.5pt;text-align:left;
text-indent:-42.5pt'><b><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222'>第 27 条<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-family:"ＭＳ 明朝",serif;color:#222222;
background:white'>（準拠法及び合意管轄）</span></p>

<p class=MsoNormal align=left style='margin-left:11.15pt;text-align:left'><span
style='font-family:"ＭＳ 明朝",serif;color:#222222;background:white'>本規約の準拠法は日本法とし、本規約に起因し又は関連する一切の紛争については、その内容に応じて東京地方裁判所又は東京簡易裁判所を第一審の専属的合意管轄裁判所とします。</span><span
lang=EN-US style='font-family:"ＭＳ 明朝",serif;color:#222222'><br>
<br>
</span></p>

<p class=MsoListParagraph align=left style='margin-left:42.5pt;text-align:left;
text-indent:-42.5pt'><b><span lang=EN-US style='font-family:"Times New Roman",serif;
color:#222222'>第 28 条<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-family:"ＭＳ 明朝",serif;color:#222222;
background:white'>（協議解決）</span></p>

<p class=MsoNormal align=left style='margin-left:11.15pt;text-align:left'><span
style='font-family:"ＭＳ 明朝",serif;color:#222222;background:white'>弊社及びユーザーは、本規約に定めのない事項又は本規約の解釈に疑義が生じた場合には、互いに信義誠実の原則に従って協議の上速やかに解決を図るものとします。</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-family:"ＭＳ 明朝",serif;color:#222222'>&nbsp;</span></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-family:
"ＭＳ 明朝",serif;color:#222222;background:white'>附則</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-family:"ＭＳ 明朝",serif;color:#222222'>&nbsp;</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-family:"ＭＳ 明朝",serif;color:#222222'>20</span><span
style='font-family:"ＭＳ 明朝",serif;color:#222222'>●●年●月●日　制定・施行</span></p>

</div>
    </div>
    </div>
</div>
{% endblock %}
